body {
  background-color: black;
  height: 100vh;
  text-align: center;
}

.wrap {
  background: url(./img/background.png) no-repeat center/cover;
  width: 700px;
  height: 500px;
  margin: 50px auto;
  border-radius: 20px;
}

.synthesis__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play__box {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  transition: all 300ms ease;
}

.play__box:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fa-play,
.fa-stop {
  font-size: 28px;
}

.timer__box {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  visibility: hidden;
}

.counter__box {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 48px;
  background-color: darksalmon;
  color: white;
  text-align: center;
  visibility: hidden;
}

.field {
  width: 100%;
  height: 50%;
  margin-top: 60px;
  position: relative;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pop-up {
  width: 400px;
  height: 140px;
  padding: 20px;
  background-color: #00000090;
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);

  border-radius: 20px;
}

.pop-up__hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__text {
  display: block;
  font-size: 38px;
  margin-top: 20px;
}
